@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Gerenciar conta";
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Trocar senha", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Definir uma senha", "SetPassword")
            }
        </p>
        <p>
            Telefone: @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Alterar", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Remover", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Adicionar", "AddPhoneNumber")
            }
            ]
        </p>
        @*<p>
            External Logins: @Model.Logins.Count
            @Html.ActionLink("[Manage]", "ManageLogins")
        </p>*@
        @if (Model.TwoFactor)
        {
            <form method="post" action="/Manage/DisableTFA">
                <p>
                    Verificação em duas etapas ATIVA:
                    <input type="submit" value="Inativar" class="btn btn-default"/>
                </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/EnableTFA">
                <p>
					Verificação em duas etapas INATIVA:
                    <input type="submit" value="Ativar" class="btn btn-default"/>
                </p>
            </form>
        }
        @*@if (Model.BrowserRemembered)
        {
            <form method="post" action="/Manage/ForgetBrowser">
                <p>
                    Browser is curently remembered for two factor:
                    <input type="submit" value="Forget Browser" class="btn btn-default" />
                </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/RememberBrowser">
                <p>
                    Browser is curently not remembered for two factor:
                    <input type="submit" value="Remember Browser" class="btn btn-default"/>
                </p>
            </form>
        }
    </div>*@
</div>
