@model IdentitySample.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Login</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body background="@Url.Content("~/Content/background-login.jpg")" style="background-size:cover">
		
	<div class="panel panel-default shadow" style="margin:auto; max-width:380px; padding:20px;">
		<section id="loginForm">
			@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<div class="text-center">
					<img src="@Url.Content("~/Content/logo.jpg")" />
					<h6>Digite seu e-mail e senha para acessar</h6>
				</div>
				
				<hr />
				<div class="well well-lg">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">&#64;</span>
							@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
						</div>
					</div>
					@*<div class="form-group">
						<div class="col-md-offset-11 col-md-1">
							<div class="checkbox">
								@Html.CheckBoxFor(m => m.RememberMe)
								@Html.LabelFor(m => m.RememberMe)
							</div>
						</div>
					</div>*@
					<div class="form-group">
						<div class="text-right">
							<input type="submit" value="Entrar" title="Clique para entrar no sistema" class="btn btn-default" />
						</div>
					</div>
					@*<p>
							@Html.ActionLink("Register a new user?", "Register")
						</p>*@
					<span>
						@Html.ActionLink("Esqueci minha senha", "ForgotPassword")
					</span>
				</div>
			}
		</section>
		@*<div>
				<section id="socialLoginForm">
					@Html.Partial("_ExternalLoginsListPartial", new IdentitySample.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
				</section>
			</div>*@
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@*@RenderSection("scripts", required: false)*@
</body>
</html>
