@model IEnumerable<Gerador.Models.Empreendimentos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo empreendimento", "Create", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empresas.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Campanha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empresas.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Campanha)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDEmpreendimento }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDEmpreendimento }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.IDEmpreendimento })
        </td>
    </tr>
}

</table>
