@model Gerador.Models.Unidades

@{
    ViewBag.Title = "Informações";
}

<div>
    <h4>Informações sobre a unidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empreendimentos.IDEmpreendimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empreendimentos.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadeStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadeStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadeObservacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadeObservacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDUnidade }, htmlAttributes: new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Voltar", "Consulta", new { id = Model.IDEmpreendimento }, htmlAttributes: new { @class = "btn btn-default" })
</p>
