@model Gerador.Models.Analises

@{
    ViewBag.Title = "Details";
}

<h3>Detalhes da análise</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.IDCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidades.IDUnidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidades.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidades.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidades.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UsuarioFull)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UsuarioFull)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorFinanciamento)
        </dt>

        <dd>
            R$ @Html.DisplayFor(model => model.ValorFinanciamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoDevedor)
        </dt>

        <dd>
            R$ @Html.DisplayFor(model => model.SaldoDevedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            R$ @Html.DisplayFor(model => model.ValorTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAnalise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAnalise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDAnalise }, htmlAttributes: new {@class="btn btn-primary"}) 
    @Html.ActionLink("Voltar", "Index", null, htmlAttributes: new {@class="btn btn-default"})
</p>
