@model Gerador.Models.Clientes

@{
    ViewBag.Title = "Remover";
}

<div>
    <h4>Remover cliente</h4>
    <hr />
	<h5 class="text-danger">Deseja realmente remover este cliente?</h5>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPessoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPessoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CpfCnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CpfCnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Renda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegimeCasamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegimeCasamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conjuge_Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conjuge_Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conjuge_Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conjuge_Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>
