@model Gerador.Models.Clientes

@{
    ViewBag.Title = "Informações";
}

<div>
    <h4>Informações do cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
			<span>Responsável</span>
            @*@Html.DisplayNameFor(model => model.User.Email)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPessoa)
        </dt>

        <dd>
			@if(Model.TipoPessoa == 0)
			{
				<span>Pessoa Física</span>
			}
			else
			{
				<span>Pessoa Jurídica</span>
			}
            @*@Html.DisplayFor(model => model.TipoPessoa)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
			@if(Model.TipoPessoa == 0)
			{
				<span>CPF</span>
			} else
			{
				<span>CNPJ</span>
			}
            @*@Html.DisplayNameFor(model => model.CpfCnpj)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CpfCnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Renda)
        </dt>

        <dd>
            R$ @Html.DisplayFor(model => model.Renda)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDCliente }, htmlAttributes: new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Voltar", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>

@section Scripts {
	@Scripts.Render("~/Scripts/Clientes.js")
	}
