@model Gerador.Models.Empresas

@{
    ViewBag.Title = "Remover";
}

<div>
    <h4>Remover empresa</h4>
    <hr />
	<h5 class="text-danger">Deseja realmente remover esta empresa?</h5>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsavel)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-danger" /> 
            @Html.ActionLink("Voltar", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>
